torch
torchvision
accelerate
transformers
sentencepiece
protobuf
huggingface_hub[hf_xet]
diffusers @ git+https://github.com/huggingface/diffusers
sdnq @ git+https://github.com/Disty0/sdnq.git
gradio>=4.0.0
pillow
